# Zip()

In [1]:
# zip() 기본 문법
numbers = [1,2,3]
letters = ['A', 'B', 'C']

for pair in zip(numbers, letters):
    print(pair)

(1, 'A')
(2, 'B')
(3, 'C')

In [2]:
# zip() 사용하지 않고 인덱스변수 사용시와 비교
numbers = [1,2,3]
letters = ['A', 'B', 'C']
for i in range(3):
    pair = (numbers[i], letters[i])
    print(pair)

(1, 'A')
(2, 'B')
(3, 'C')

In [3]:
# zip() 병렬처리
for number, upper, lower in zip('12345', 'ABCDE', 'abcde'):
    print(number, upper, lower)

1 A a
2 B b
3 C c
4 D d
5 E e

In [6]:
# unzip
## 우선 zip()함수로 2개의 튜플의 데이터를 엮은 후 리스트 변환
numbers = (1,2,3)
letters = ('A', 'B', 'C')
pairs = list(zip(numbers, letters))
print(pairs)

[(1, 'A'), (2, 'B'), (3, 'C')]

In [7]:
# unzip
numbers, letters = zip(*pairs)
numbers

(1, 2, 3)

In [8]:
letters

('A', 'B', 'C')

In [9]:
# 사전 변환1
keys = [1,2,3]
values = ['A', 'B', 'C']
dict(zip(keys, values))

{1: 'A', 2: 'B', 3: 'C'}

In [10]:
# 사전 변환2
dict(zip(['year', 'month', 'date'], [2001, 1, 31]))

{'year': 2001, 'month': 1, 'date': 31}

In [12]:
##주의사항
# zip()함수로 넘기는 인자의 길이가 다를때는 주의
# 가장 짧은 인자를 기준으로 데이터가 엮이고, 나머지는 버려지기 때문

numbers = ['1', '2', '3']
letters = ['A']

list(zip(numbers, letters))

[('1', 'A')]

# apply
- https://koreadatascientist.tistory.com/115

In [40]:
import numpy as np
import pandas as pd

df = pd.DataFrame([[4,9], [1,4], [5,6]], columns=['A','B'])
df

   A  B
0  4  9
1  1  4
2  5  6

In [41]:
## A컬럼의 값에 내가 정해놓은 함수 return 값을 일괄적으로 적용하기 (컬럼 일괄 변경)

def plus_one(x):
    x += 1
    return x

df['A'].apply(plus_one)

#기존 데이터 프레임에 적용시키기
df['A'] = df['A'].apply(plus_one)
df

   A  B
0  5  9
1  2  4
2  6  6

In [44]:
## apply 대신 lambda  사용하기
df = pd.DataFrame([[4,9], [1,4], [5,6]], columns=['A','B'])

df['A'] = df['A'].apply(lambda x: x+1)
df

   A  B
0  5  9
1  2  4
2  6  6

In [48]:
## df라는 데이터프레임 전체에 내가 정해놓은 함수 return 값을 일괄적으로 적용하기(데이터 프레임 일괄 변경)
df = pd.DataFrame([[2,4,9], [3,1,4], [9,5,6]], columns=['A','B', 'C'])
df

   A  B  C
0  2  4  9
1  3  1  4
2  9  5  6

In [49]:
# df.apply(plus_one)
df = df.apply(lambda x: x+1)
df

    A  B   C
0   3  5  10
1   4  2   5
2  10  6   7

In [50]:
df = pd.DataFrame([[2,4,9], [3,1,4], [9,5,6]], columns=['A','B', 'C'])
df.apply(np.sqrt) #제곱근으로 바꿔주는 함수

          A         B        C
0  1.414214  2.000000  3.00000
1  1.732051  1.000000  2.00000
2  3.000000  2.236068  2.44949

# lambda
- https://tykimos.github.io/2019/12/25/Python_Lambda/
- https://tykimos.github.io/2019/12/29/Python_Lambda_Function/
- https://tykimos.github.io/2020/01/01/Python_Lambda_Map/

In [13]:
f = lambda x: x+2
f(2)

4

In [14]:
f = lambda x, y: x+y
f(1,2)

3

In [15]:
(lambda x,y : x+y)(1,2)

3

In [16]:
# 람다를 반환하는 함수 
## 초를 분이나 시간으로 환산하는 예제/기존 방식이라면 변환식마다 함수를 따로 만들어야하지만 람다함수를 이용하여 사용할 함수를 그때그떄 정의
def sec2other(unit):
    return lambda sec: sec/unit

In [19]:
sec2min = sec2other(60)
sec2hour = sec2other(3600)

print(f'{sec2min(180)}min')
print(f'{sec2hour(7200)}hour')

3.0min
2.0hour

In [20]:
## 한화로 변환해주는 함수
def other2won(unit):
    return lambda price: price*unit

usd2won = other2won(1160.50) #달러환율
eur2won = other2won(1293.90)

print(usd2won(10)) #10달러는 한국돈으로 얼마?
print(eur2won(15)) #15유로는 한국돈으로 얼마?

11605.0
19408.5

In [21]:
# 람다+맵
## map(함수, 입력들)

In [22]:
#제곱을 구하는 함수
def calc(x):
    return x*x

list(map(calc, range(1,6)))

[1, 4, 9, 16, 25]

In [24]:
#람다 사용하면
list(map(lambda x: x*x, range(1,6)))

[1, 4, 9, 16, 25]

In [23]:
# 일반적으로 for문
for i in range(1,6):
    print(calc(i))

1
4
9
16
25

In [28]:
## 구구단

list(map(lambda x:(x//10)*(x%10), range(10,100)))

list(map(lambda x: str(x//10)+ 'x'+ str(x%10)+'=' + str((x//10)*(x%10)), range(10,100)))

['1x0=0',
 '1x1=1',
 '1x2=2',
 '1x3=3',
 '1x4=4',
 '1x5=5',
 '1x6=6',
 '1x7=7',
 '1x8=8',
 '1x9=9',
 '2x0=0',
 '2x1=2',
 '2x2=4',
 '2x3=6',
 '2x4=8',
 '2x5=10',
 '2x6=12',
 '2x7=14',
 '2x8=16',
 '2x9=18',
 '3x0=0',
 '3x1=3',
 '3x2=6',
 '3x3=9',
 '3x4=12',
 '3x5=15',
 '3x6=18',
 '3x7=21',
 '3x8=24',
 '3x9=27',
 '4x0=0',
 '4x1=4',
 '4x2=8',
 '4x3=12',
 '4x4=16',
 '4x5=20',
 '4x6=24',
 '4x7=28',
 '4x8=32',
 '4x9=36',
 '5x0=0',
 '5x1=5',
 '5x2=10',
 '5x3=15',
 '5x4=20',
 '5x5=25',
 '5x6=30',
 '5x7=35',
 '5x8=40',
 '5x9=45',
 '6x0=0',
 '6x1=6',
 '6x2=12',
 '6x3=18',
 '6x4=24',
 '6x5=30',
 '6x6=36',
 '6x7=42',
 '6x8=48',
 '6x9=54',
 '7x0=0',
 '7x1=7',
 '7x2=14',
 '7x3=21',
 '7x4=28',
 '7x5=35',
 '7x6=42',
 '7x7=49',
 '7x8=56',
 '7x9=63',
 '8x0=0',
 '8x1=8',
 '8x2=16',
 '8x3=24',
 '8x4=32',
 '8x5=40',
 '8x6=48',
 '8x7=56',
 '8x8=64',
 '8x9=72',
 '9x0=0',
 '9x1=9',
 '9x2=18',
 '9x3=27',
 '9x4=36',
 '9x5=45',
 '9x6=54',
 '9x7=63',
 '9x8=72',
 '9x9=81']

In [32]:
## 369
list(map(lambda x: '짝' if x%3 == 0 else x, range(1,10)))

list(map(lambda x: '짝' if str(x).find('3')>= 0 or str(x).find('6')>= 0 or str(x).find('9')>= 0 else x, range(1,35)))

##댓글 코멘트: 
### 보통 lambda와 map을 이용해서 리스트를 만들기보단 list comprehension 구문으로 표현하는것이 더 가독성이 좋아 장려됩니다. 
### if문이 많이 반복되는 경우는 별도의 기명 함수로 정의하는게 더 좋구요
### string contain 판별은 find보다도 '3' in mystr 같은 식으로 주로 합니다

[1,
 2,
 '짝',
 4,
 5,
 '짝',
 7,
 8,
 '짝',
 10,
 11,
 12,
 '짝',
 14,
 15,
 '짝',
 17,
 18,
 '짝',
 20,
 21,
 22,
 '짝',
 24,
 25,
 '짝',
 27,
 28,
 '짝',
 '짝',
 '짝',
 '짝',
 '짝',
 '짝']

# list comprehension
- https://shoark7.github.io/programming/python/about-list-comprehension-python
-

# 컬렉션 파이프 라인 함수 (코틀린?)

- 필터
- 맵

### 파이프라인 함수라고 하는 이유는 파이프처럼 서로 연결하여 하나의 긴 파이프를 만들수 있기 때문
### 함수들의 반환: collection
### = 파이프라인 함수의 결과에 파이프라인 함수를 호출할 수 있다는 말

- https://superwony.tistory.com/188
- https://greedy0110.tistory.com/55